<div class="playing-card noselect" *ngIf="!empty && card">
  <div class="playing-card-bulls">
    <div *ngFor="let i of card.bulls | times" class="bull"></div>
    <br/>
    {{card.bulls}}
  </div>
  <div class="playing-card-value"
    [class.center-mult]="card.value == 55"
    [class.eleven-mult]="card.value % 11 == 0"
    [class.ten-mult]="card.value % 10 == 0"
    [class.five-mult]="card.value % 5 == 0">
    {{card.value}}
  </div>
</div>

<div class="playing-card-empty" *ngIf="empty"></div>
