.playing-card,
.playing-card-empty {
  position: relative;
  width: 120px;
  height: 180px;
  background: #FFF0E0;
  background-image: url('https://t3.ftcdn.net/jpg/01/82/44/78/240_F_182447867_JwXhNipy8A01PQ72DAgU8Gt6rCOhF44P.jpg');
  background-size: cover;
  border-radius: 5px;
  border: 3px solid #806050;
  box-shadow: 0px 0px 2px 0px black;
}

.playing-card-empty {
  background-image:none;
  background-color: #F0F0F0 !important;
  border: 1px solid grey;
  box-shadow: 0px 0px 2px 0px black inset;
}

.playing-card-value {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  font-family:  'Audiowide', 'Sigmar One', cursive;
  color: white;
}

.playing-card-bulls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px calc(50% - 30px);
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-family:  'Audiowide', 'Sigmar One', cursive;
  color: white;
}

.playing-card-bulls .bull {
  margin: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("/assets/tech.png");
  background-size: cover;
}

.playing-card-value.five-mult {
  color: rgba(226, 183, 126, 1);
}
.playing-card-value.ten-mult {
  color: rgba(238, 161, 17, 1);
}
.playing-card-value.eleven-mult {
  color: rgba(255, 10, 67, 1);
}
.playing-card-value.center-mult {
  color: rgba(221, 51, 255, 1);
  text-shadow: 1px 1px 4px rgb(220,150,220);
}
