.hand {
  position: relative;
  width: 0px;
  height: 0px;
}

.card-container {
  position: absolute;
  transition: all 0.2s ease;
}

.card-container:hover {
  z-index: 23;
  transform: scale(1.3) !important;
  top: -30px !important;
  transition: all 0.2s ease;
  cursor: pointer;
}

.card-container.selected {
  top: -60px !important;
  left: 500px !important;
  z-index: 22;
  transform: scale(0.9) !important;
}
