<div class="hand">
  <div *ngFor="let card of hand; let i = index" class="card-container"
    [class.selected]="cardSelected == card"
    [style.left]="computeLeft(i,hand.length)"
    [style.transform]="computeRotation(i, hand.length)"
    [style.bottom]="computeBottom(i, hand.length)" >
    <playing-card [card]="card" (click)="select(card)"></playing-card>
  </div>
</div>
