.card-container {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.card-row {
  position: relative;
  padding: 5px;
}

.card-row-count {
  display: inline-block;
  color: black;
  font-size: 30px;
  padding: calc(50% - 30px);
}
