<div *ngFor="let row of board" class="card-row">

  <!-- <div class="card-row-count">
    {{row.length}}
  </div> -->
  <div *ngFor="let card of row" class="card-container">
    <playing-card [card]="card"></playing-card>
  </div>
  <div *ngFor="let card of (6-row.length) | times" class="card-container">
    <playing-card [empty]="'true'"></playing-card>
  </div>

</div>
