
<!-- <div *ngFor="let card of cards" style="display: inline-block;">
  <playing-card  [card]="card"></playing-card>
</div> -->

<board [board]="game.board"></board>
<button class="btn" (click)="cycleHand()"> Player {{playerIndex+1}}</button><br/>
<button class="btn" (click)="playTheTurn()" [disabled]="canPlayTurn"> Play the turn</button>

<hand *ngFor="let hand of game.hands; let i = index"
  [hand]="hand"
  [cardSelected]="selectedCards[i] ? selectedCards[i].card : null"
  style="position: fixed; bottom: 180px; left: 50vw; transition: visibility 0.2s, opacity 0.2s;"
  [class.hand-hidden]="hand != activeHand"
  (cardSelect)="onSelectedCard($event, i)">
</hand>

<aside class="scores-bar">
  <div *ngFor="let i of game.numberOfPlayers | times">
    Player {{ i }} scored <strong>{{game.scores[i-1]}}</strong>
  </div>
</aside>
<router-outlet></router-outlet>
